*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.iconos{
    display: flex;
    flex-flow: wrap;
}

#encabezado{

    justify-content: center;
    align-items: center;
    display: flex;
    max-width: 100%;
    background-image: linear-gradient(135deg,#1C2833,#4A235A,#4A235A,#9B59B6);
    animation: banimado 15s;
    background-size: 500%;
}

@keyframes banimado {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
}


.ini-cont{
    display: flex;
    justify-content: center;
    margin: 7%;
}


.ini-text{
    color: white;
    margin-top: 9%;
}
.img-ini{
    height: 12.5em;
    width: 12.5em;
    border-radius: 50%;
    padding: 15px;
}
.logo{
    max-height: 3em;
    width: 6em;
    margin-left: 5px;
}

.redes{
    justify-content: center;
    align-items: center;
    display: flex;
}

.fa-brands{
    color: whitesmoke;
    font-size: 1.5em;
    margin: 12px;
}

.gris{
    background-color: #ECF0F1;
    justify-content: center;
    align-items: center;
    display: block;
    text-align: center;
    padding: 10px;
}

.violeta{

    background-color: #7D3C98;
    justify-content: center;
    align-items: center;
    display: block;
    text-align: center;
    padding: 10px;
    color: white;
}

.p-cont{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: auto;
    margin: auto;
}

.p-cont > .card{
    margin: 15px;
}


.btn-violeta{
    background-color: #363d44;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: inline;
    justify-content: space-between;
}

.btn-violeta:hover{
    color: white;
    background-color: black;
}

.text1{
    position: relative;
    animation: text 3s 1;
}

.text2{
    animation: text 6s 1;
}

@keyframes text {
    0%{
        opacity: 0;
        margin-bottom: -40px;
    }
}